# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore aegir files.
sites/sites.php
sites/*/drushrc.php
sites/*/local.settings.php
sites/all/drush/drushrc.php
