[submodule "sites/all/modules/aegir/aegir_ansible"]
	path = sites/all/modules/aegir/aegir_ansible
	url = git@github.com:opendevshop/aegir_ansible
[submodule "sites/all/modules/aegir/hosting"]
	path = sites/all/modules/aegir/hosting
	url = git@git.drupal.org:project/hosting.git
[submodule "profiles/devmaster"]
	path = profiles/devmaster
	url = git@github.com:opendevshop/devmaster.git
[submodule "sites/all/modules/aegir/hosting_task_jenkins"]
	path = sites/all/modules/aegir/hosting_task_jenkins
	url = git@github.com:opendevshop/hosting_task_jenkins.git
[submodule "sites/all/modules/aegir/aegir_config"]
	path = sites/all/modules/aegir/aegir_config
	url = git@git.drupal.org:project/aegir_config.git
[submodule "sites/all/drush/provision"]
	path = sites/all/drush/provision
	url = git@git.drupal.org:project/provision.git
[submodule "sites/all/modules/aegir/aegir_cloud"]
	path = sites/all/modules/aegir/aegir_cloud
	url = git@git.drupal.org:project/aegir_cloud.git
[submodule "sites/all/modules/aegir/aegir_rancher"]
	path = sites/all/modules/aegir/aegir_rancher
	url = git@github.com:opendevshop/devshop_rancher.git
[submodule "sites/all/modules/aegir/devshop_terra"]
	path = sites/all/modules/aegir/devshop_terra
	url = git@github.com:opendevshop/hosting_terra.git
[submodule "sites/all/modules/aegir/aegir_cloud_packet"]
	path = sites/all/modules/aegir/aegir_cloud_packet
	url = git@github.com:opendevshop/aegir_cloud_packet.git
[submodule "sites/all/modules/aegir/hosting_logs"]
	path = sites/all/modules/aegir/hosting_logs
	url = http://git.drupal.org/project/hosting_logs.git
