[submodule "sites/all/modules/aegir/aegir_ansible"]
	path = sites/all/modules/aegir/aegir_ansible
	url = git@github.com:opendevshop/aegir_ansible
[submodule "sites/all/modules/aegir/hosting"]
	path = sites/all/modules/aegir/hosting
	url = git@git.drupal.org:project/hosting.git
[submodule "profiles/devmaster"]
	path = profiles/devmaster
	url = git@github.com:opendevshop/devmaster.git
[submodule "sites/all/modules/aegir/hosting_task_jenkins"]
	path = sites/all/modules/aegir/hosting_task_jenkins
	url = git@github.com:opendevshop/hosting_task_jenkins.git
[submodule "sites/all/modules/aegir/aegir_config"]
	path = sites/all/modules/aegir/aegir_config
	url = git@git.drupal.org:project/aegir_config.git
