.btn-member {
    width: 100px;
    height: 100px;
}

.btn-member i.fa {
    margin-top: .35em;
}

.view-devshop-organization-members td {
    padding: 0 1em 1em 0;
    max-width: 100px;
}

.view-devshop-organization-members table {
    padding-left: 1em;
}

.table-members {
    width: auto;
}

.btn-server-dashboard {
    width: 18em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-server-dashboard i.fa {
    margin-left: -.5em;
    margin-right: .5em;
}
.btn-group-server .btn {
    max-height: 4em;
}

.view-devshop-servers .btn-success {
    margin: 0 0 10px 0;
}
.view-devshop-organization-projects .btn-success {
    margin: 0 0 10px 0;
}